
.match-container {
  width: 100%;
  min-height: 100vh;
  background: #b3e8ff;
  padding: 20px;
  position: relative;
}

.match-area {
  width: 100%;
  max-width: 900px;
  margin: auto;
  position: relative;
}

.lines-svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.grid-letters, .grid-images {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}

.letter-card, .image-card {
  width: 100px;
  height: 100px;
  background: #d2ffe0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s;
}

.letter-card.selected {
  transform: scale(1.15);
  background: #c5ffd0;
}

.letter-card:hover, .image-card:hover {
  transform: scale(1.1);
}

.icon {
  width: 70%;
}
